version: '3.8'
services:
  zookeeper:
    image: bitnami/zookeeper:3
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    ports:
      - "2181:2181"

  kafka:
    image: bitnami/kafka:3
    environment:
      - KAFKA_BROKER_ID=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_LISTENERS=PLAINTEXT://:9092
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: changeme
      MYSQL_DATABASE: tolldata
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password

  producer:
    build: ./producer
    environment:
      - KAFKA_BROKER=kafka:9092
      - TOPIC=toll
    depends_on:
      - kafka

  consumer:
    build: ./consumer
    environment:
      - KAFKA_BROKER=kafka:9092
      - TOPIC=toll
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_DB=tolldata
      - MYSQL_USER=root
      - MYSQL_PASS=changeme
    depends_on:
      - kafka
      - mysql
